name: Python  test

on:
  push

jobs:
  run-tests:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python "3.9"
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Install dependencies
      run: make deps
    - name: Test
      run: make test